<div class="prodotto">
  <div class="row prodotto__row">
    <div class="column large-full reset">
      <div class="row">
        <div class="column large-four reset">
          <div class="image-prodotto">
            {{ fields.field_immagine.content }}
          </div>
          <div class="title__prodotto">
           {{ fields.title.content }}
          </div>
        </div>

        <div class="column large-eight reset">
            <div class="right">
              <div class="image-provenienza left">
                {{ fields.field_bandiera_1.content  }}
              </div>
              <div class="image-provenienza left">
                {{ fields.field_bandiera_2.content  }}
              </div>
              <div class="image-provenienza left">
                {{ fields.field_bandiera_3.content  }}
              </div>
              <div class="image-provenienza left">
                {{ fields.field_bandiera_4.content  }}
              </div>
              <div class="image-provenienza left">
                {{ fields.field_bandiera_5.content  }}
              </div>
              <div class="image-provenienza left">
                {{ fields.field_bandiera_6.content  }}
              </div>
              <div class="image-provenienza left">
                {{ fields.field_bandiera_7.content  }}
              </div>
              <div class="image-provenienza left">
                {{ fields.field_bandiera.content  }}
              </div>
              <div class="image-provenienza left">
                {{ fields.field_bandiera_8.content  }}
              </div>
              <div class="image-provenienza left">
                {{ fields.field_bandiera_9.content  }}
              </div>
              <div class="image-provenienza left">
                {{ fields.field_bandiera_10.content  }}
              </div>
              <div class="image-provenienza left">
                {{ fields.field_bandiera_11.content  }}
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
